h1 a, h2 a {
    color: #1f9e63;
    font-family: 'Arial';
}
.page-header {
    background-color: #6eaed8;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #000000;
    font-size: 36pt;
    text-decoration: none;
}

table, th, td {
    text-align: center;
    border: 1px solid;
  }


h1,
h2,
h3,
h4 {
    font-family: 'Arial', cursive;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    float: right;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid rgb(248, 248, 248);
  }

  .button2 {
    background-color: #120c1f; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    float: right;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid rgb(248, 248, 248);
  }

.date {
    color: #828282;
}

.save {
    float: right;
}

.decklist-form textarea,
.decklist-form input {
    width: 100%;
}

.mid-menu,
.mid-menu:hover,
.mid-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 30pt;
    margin-right: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #770f0f;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.decklist {
    margin-bottom: 30px;
}

.decklist h2 a,
.decklist h2 a:visited {
    color: #000000;
}

.decklist > .date,
.decklist > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    float: right;
    color: #dbb295;
    background: none;
    border-color: #44b428;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #641838;
}